# 1) Write a python program to display all the header tags from wikipedia.org.

In [1]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
page_url1 = requests.get("https://en.wikipedia.org/wiki/Main_Page")
page_url1

In [8]:
Header1=soup.find('span', class_="mw-headline")
Header1.text

'Welcome to Wikipedia'

In [9]:
Header1=[]
for i in soup.find_all('span', class_="mw-headline"):
    Header1.append(i.text.replace("\n"," "))
Header1

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [17]:
page3 = requests.get("https://www.imdb.com/list/ls091520106/")
page3

In [18]:
# page content
soup=BeautifulSoup(page3.content)

In [22]:
soup = BeautifulSoup(page3.text,"html.parser")

In [23]:
# Scrap movie names
name = soup.find_all('h3',class_="lister-item-header")

# parse movie names
movies_name = []  #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text.replace('\n',' ').strip())
movies_name

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'GoodFellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [27]:
# Scrap IMDB ratings for movies
ratings = soup.find_all("div",class_="ipl-rating-star small")

# parse ratings
movie_ratings = []  # empty list
for i in ratings:
    movie_ratings.append(i.text.replace('\n',' ').strip())
movie_ratings

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '9',
 '9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.3',
 '8.3']

In [28]:
# year of release
year = soup.find_all("span",class_="lister-item-year text-muted unbold")

Release_year= []  #empty lsit
for i in year:
        Release_year.append(i.text.replace('(','').replace(')',''))
Release_year

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '1999',
 'I 2019',
 '2001',
 '1994',
 '2010',
 '1980',
 '2002',
 '1999',
 '1975',
 '1990',
 '1954',
 '1995',
 '2002',
 '1997',
 '1991',
 '1977',
 '1946',
 '1998',
 '2001',
 '1999',
 '1994',
 '1962',
 '2014',
 '1995',
 '1994',
 '1998',
 '1985',
 '2002',
 '1936',
 '1991',
 '2011',
 '1960',
 '2000',
 '1931',
 '2006',
 '2014',
 '1968',
 '2006',
 '2019',
 '1942',
 '1988',
 '1954',
 '1988',
 '1979',
 '1981',
 '2000',
 '1979',
 '1940',
 '2006',
 '2018',
 '2012',
 '2018',
 '1980',
 '1957',
 '2008',
 '1950',
 '1964',
 '1997',
 '2003',
 '1957',
 '2012',
 '1984',
 '2019',
 '1986',
 '1999',
 'I 2017',
 '2016',
 '1995',
 '1981',
 '2009',
 '2007',
 '1983',
 '1995',
 '1992',
 '1984',
 '2016',
 '1997',
 '2009',
 '1931',
 '2000',
 '1968',
 '1958',
 '2004',
 '1941',
 '1987',
 '2012',
 '1959',
 '1971',
 '2000',
 '2001',
 '1921']

In [29]:
print(len(movies_name),len(movie_ratings),len(Release_year))

100 100 100

In [30]:
df=pd.DataFrame({'Movie_name':movies_name,'Movie_rating':movie_ratings,'Movie_year':Release_year})
df

                             Movie_name Movie_rating Movie_year
0              The Shawshank Redemption          9.3       1994
1                         The Godfather          9.2       1972
2                 The Godfather Part II            9       1974
3                       The Dark Knight            9       2008
4                          12 Angry Men            9       1957
..                                  ...          ...        ...
95                   North by Northwest          8.3       1959
96                   A Clockwork Orange          8.3       1971
97                               Snatch          8.2       2000
98  Le fabuleux destin d'Amélie Poulain          8.3       2001
99                              The Kid          8.3       1921

[100 rows x 3 columns]

#  3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [32]:
page3 = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page3

In [34]:
# Checking the page content
soup = BeautifulSoup(page3.content)

In [35]:
soup = BeautifulSoup(page3.text,'html.parser')

In [36]:
# Scrap top 100 Indian movie names
name = soup.find_all('td',class_="titleColumn")

# parse movie names
Indian_movies_name = []  #empty list
for i in name:
    for j in i.find_all("a"):
        Indian_movies_name.append(j.text.replace('\n',' '))
Indian_movies_name = Indian_movies_name[:100]
Indian_movies_name

['Ramayana: The Legend of Prince Rama',
 'Rocketry: The Nambi Effect',
 'Gol Maal',
 'Nayakan',
 'Anbe Sivam',
 '777 Charlie',
 'Jai Bhim',
 'Pariyerum Perumal',
 'Manichitrathazhu',
 '3 Idiots',
 'Apur Sansar',
 '#Home',
 'Black Friday',
 'Soorarai Pottru',
 'Kumbalangi Nights',
 'C/o Kancharapalem',
 'Taare Zameen Par',
 'Kireedam',
 'Dangal',
 'Kaithi',
 'Jersey',
 '96',
 'Maya Bazaar',
 'Natsamrat',
 'Asuran',
 'Drishyam 2',
 'Thevar Magan',
 'Sita Ramam',
 'Visaaranai',
 'Sarpatta Parambarai',
 'Thalapathi',
 'Pather Panchali',
 'Nadodikkattu',
 'Jaane Bhi Do Yaaro',
 'Drishyam',
 'Thani Oruvan',
 'Sardar Udham',
 'Aparajito',
 'Vada Chennai',
 'Khosla Ka Ghosla!',
 'Ratsasan',
 'Anniyan',
 'Chupke Chupke',
 'Peranbu',
 'Gangs of Wasseypur',
 'Mahanati',
 'Drishyam',
 'Bangalore Days',
 'Satya',
 'Premam',
 'Agent Sai Srinivasa Athreya',
 'Devasuram',
 'Super Deluxe',
 'Bhaag Milkha Bhaag',
 'Tumbbad',
 'Andhadhun',
 'Vikram Vedha',
 'Guide',
 'Chithram',
 'Zindagi Na Milegi Dobara',
 'Kannathil Muthamittal',
 'Sairat',
 'Shahid',
 'Vikram',
 'Chhichhore',
 'Iruvar',
 'Aruvi',
 'Paan Singh Tomar',
 'Swades: We, the People',
 'Drishyam 2',
 'Spadikam',
 'Munna Bhai M.B.B.S.',
 'Chak De! India',
 'Pyaasa',
 'Uri: The Surgical Strike',
 'Mudhalvan',
 'Black',
 'Jo Jeeta Wohi Sikandar',
 'Hera Pheri',
 'Papanasam',
 'Lagaan: Once Upon a Time in India',
 'Pudhu Pettai',
 'Dhuruvangal Pathinaaru',
 'PK',
 'Queen',
 'Article 15',
 'Talvar',
 'Mandela',
 'OMG: Oh My God!',
 'Soodhu Kavvum',
 'Sarfarosh',
 'Sholay',
 'Udaan',
 'Barfi!',
 'Jigarthanda',
 'Kaakkaa Muttai',
 'The Legend of Bhagat Singh',
 'Ustad Hotel',
 'Theeran Adhigaaram Ondru',
 'Baahubali 2: The Conclusion']

In [37]:
# Scrap IMDB ratings for Indian movies
ratings = soup.find_all('td', class_="ratingColumn imdbRating")

# parse ratings
movie_ratings = []
for i in ratings:
    movie_ratings.append(i.text.replace('\n',' ').strip())
movie_ratings = movie_ratings[:100]
movie_ratings

['8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [38]:
# Scrap the year of release
year_of_release = soup.find_all("span",class_="secondaryInfo")

#parse release year
Release_year= []  #empty lsit
for i in name:
    for j in i.find_all("span"):
        Release_year.append(j.text.replace('(','').replace(')',''))
Release_year = Release_year[:100]
Release_year

['1993',
 '2022',
 '1979',
 '1987',
 '2003',
 '2022',
 '2021',
 '2018',
 '1993',
 '2009',
 '1959',
 '2021',
 '2004',
 '2020',
 '2019',
 '2018',
 '2007',
 '1989',
 '2016',
 '2019',
 '2019',
 '2018',
 '1957',
 '2016',
 '2019',
 '2021',
 '1992',
 '2022',
 '2015',
 '2021',
 '1991',
 '1955',
 '1987',
 '1983',
 '2013',
 '2015',
 '2021',
 '1956',
 '2018',
 '2006',
 '2018',
 '2005',
 '1975',
 '2018',
 '2012',
 '2018',
 '2015',
 '2014',
 '1998',
 '2015',
 '2019',
 '1993',
 '2019',
 '2013',
 '2018',
 '2018',
 '2017',
 '1965',
 '1988',
 '2011',
 '2002',
 '2016',
 '2012',
 '2022',
 '2019',
 '1997',
 '2016',
 '2012',
 '2004',
 '2022',
 '1995',
 '2003',
 '2007',
 '1957',
 '2019',
 '1999',
 '2005',
 '1992',
 '2000',
 '2015',
 '2001',
 '2006',
 '2016',
 '2014',
 '2013',
 '2019',
 '2015',
 '2021',
 '2012',
 '2013',
 '1999',
 '1975',
 '2010',
 '2012',
 '2014',
 '2014',
 '2002',
 '2012',
 '2017',
 '2017']

In [39]:
print(len(Indian_movies_name),len(movie_ratings),len(Release_year))

100 100 100

In [40]:
df=pd.DataFrame({'Movie_name':Indian_movies_name,'Movie_rating':movie_ratings,'Movie_year':Release_year})
df

                             Movie_name Movie_rating Movie_year
0   Ramayana: The Legend of Prince Rama          8.5       1993
1            Rocketry: The Nambi Effect          8.4       2022
2                              Gol Maal          8.4       1979
3                               Nayakan          8.4       1987
4                            Anbe Sivam          8.4       2003
..                                  ...          ...        ...
95                       Kaakkaa Muttai          8.0       2014
96           The Legend of Bhagat Singh          8.0       2002
97                          Ustad Hotel          8.0       2012
98             Theeran Adhigaaram Ondru          8.0       2017
99          Baahubali 2: The Conclusion          8.0       2017

[100 rows x 3 columns]

# #4) Write a python program to scrape product name, price and discounts from  https://meesho.com/bagsladies/pl/p7vbp .

In [109]:
page4 = requests.get("https://www.meesho.com/ravishing-attractive-women-backpacks/p/p4w1g")
page4

In [110]:
# see content in page
soup = BeautifulSoup(page4.content)
soup =  BeautifulSoup(page4.text,'html.parser')

In [ ]:
SOVED IN NEW NOTEBOOK

In [ ]:
  #5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
        a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
        b) Top 10 ODI Batsmen along with the records of their team and rating. 
        c) Top 10 ODI bowlers along with the records of their team and rating.

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [48]:
# request to the webpage of the server to get the source code of the page
page5 = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5

In [54]:
# Checking the page content
soup = BeautifulSoup(page5.content)

In [55]:
soup = BeautifulSoup(page5.text,'html.parser')

In [60]:
name=soup.find_all("span",class_="u-hide-phablet")
Team_name=[]
for i in name:
    Team_name.append(i.text.replace("\n", ""))
    Team_name=Team_name[:10]
Team_name

['India',
 'Australia',
 'New Zealand',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies']

In [66]:
# Scrape names
match1=soup.find_all('td', class_="rankings-block__banner--matches")
No_matches=[]
for i in match1:
    No_matches.append(i.text)
No_matches

['44']

In [68]:
#Scrape matches
match1 = soup.find_all("td",class_="rankings-block__banner--matches")   #first place team number of matches

no_of_matches = [] #empty list
for i in match1:
    no_of_matches.append(i.text)
no_of_matches

['44']

In [69]:
new_list = []  #emptty list
matches = soup.find_all("td",class_="table-body__cell u-center-text")   #other teams number of matches

for i in matches:
    new_list.append(i.text)
new_list  

for i in range(0,len( new_list),2):
    no_of_matches.append(new_list[i])
no_of_matches = no_of_matches[:10]
no_of_matches

['44', '32', '29', '31', '25', '25', '33', '34', '20', '41']

In [70]:
# Scrape points
pts_1 = soup.find_all("td",class_="rankings-block__banner--points")   #first place team points

points = [] #empty list
for i in pts_1:
    points.append(i.text)

new_list = []  #emptty list
pts = soup.find_all("td",class_="table-body__cell u-center-text")   #other teams points

for i in pts:
    new_list.append(i.text)
new_list  

for i in range(0,len( new_list),2):
    points.append(new_list[i+1])
points = points[:10]
points

['5,010',
 '3,572',
 '3,229',
 '3,450',
 '2,649',
 '2,555',
 '3,129',
 '2,976',
 '1,419',
 '2,902']

In [75]:
#Scrape ratings
rtgs_1 = soup.find_all("td",class_="rankings-block__banner--rating u-text-right")   #first place team ratings

ratings = [] #empty list
for i in rtgs_1:
    ratings.append(i.text.replace("\n","").strip())


rtgs = soup.find_all("td",class_="table-body__cell u-text-right rating")   #other teams ratings
    
for i in rtgs:
    ratings.append(i.text)
ratings= ratings[:10]
ratings

['114', '112', '111', '111', '106', '102', '95', '88', '71', '71']

In [74]:
print(len(Team_name),len(no_of_matches),len(points),len(ratings))

10 10 10 10

In [76]:
df=pd.DataFrame({'Team_name':Team_name,'Matches':no_of_matches,'points':points, 'Rating':ratings})
df

      Team_name Matches points Rating
0         India      44  5,010    114
1     Australia      32  3,572    112
2   New Zealand      29  3,229    111
3       England      31  3,450    111
4      Pakistan      25  2,649    106
5  South Africa      25  2,555    102
6    Bangladesh      33  3,129     95
7     Sri Lanka      34  2,976     88
8   Afghanistan      20  1,419     71
9   West Indies      41  2,902     71

#  b) Top 10 ODI Batsmen along with the records of their team and rating

In [112]:
page6 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page6

In [113]:
# see content in page6
soup = BeautifulSoup(page6.content)
soup =  BeautifulSoup(page6.text,'html.parser')

In [114]:
#Scrape players
player_1 = soup.find_all("div",class_="rankings-block__banner--name-large")  #first place player name

players_name = [] #empty list
for i in player_1:
    players_name.append(i.text)

other_players = soup.find_all("td",class_="table-body__cell rankings-table__name name")  # other players

for i in other_players:
    for j in i.find_all("a"):
        players_name.append(j.text)
players_name = players_name[:10]
players_name

['Babar Azam',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'David Warner',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow']

In [115]:
# Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")   #first place team name

team_name = []  #empty list
for i in team_1:
    team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")  # other teams name

for i in other_teams:
    team_name.append(i.text)
team_name = team_name[:10]
team_name

['PAK', 'SA', 'SA', 'AUS', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'ENG']

In [116]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")    #first place player ratings

rating = []  #empty list
for i in rating_1:
    rating.append(i.text)

others_ratings = soup.find_all("td",class_="table-body__cell rating")      #other players ratings

for i in others_ratings:
    rating.append(i.text)
rating = rating[:10]
rating

['887', '766', '759', '747', '740', '734', '727', '719', '719', '710']

In [117]:
print(len(players_name),len(team_name),len(rating))

10 10 10

In [119]:
df=pd.DataFrame({'Players_name':players_name,'team_name':team_name,'Points':points, 'Rating':rating})
df

            Players_name team_name Points Rating
0             Babar Azam       PAK  5,010    887
1  Rassie van der Dussen        SA  3,572    766
2        Quinton de Kock        SA  3,229    759
3           David Warner       AUS  3,450    747
4            Imam-ul-Haq       PAK  2,649    740
5           Shubman Gill       IND  2,555    734
6            Virat Kohli       IND  3,129    727
7            Steve Smith       AUS  2,976    719
8           Rohit Sharma       IND  1,419    719
9         Jonny Bairstow       ENG  2,902    710

# Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
page7 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page7

In [ ]:
# see content in page
soup = BeautifulSoup(page7.content)
soup =  BeautifulSoup(page7.text,'html.parser')

In [ ]:
bowlers_name = []   #empty list
team_name = []   #empty list
ratings = []   #empty list

In [120]:
#Scrape bowlers name
bowler_1 = soup.find_all("div",class_="rankings-block__banner--name-large")   #first place bowler name

bowlers_name = []   #empty list
for i in bowler_1:
    bowlers_name.append(i.text)

other_bowlers = soup.find_all("td",class_="table-body__cell rankings-table__name name")   #other bowlers name

for i in other_bowlers:
    for j in i.find_all("a"):
        bowlers_name.append(j.text)
bowlers_name = bowlers_name[:10]
bowlers_name

['Babar Azam',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'David Warner',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow']

In [121]:
#Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")  # first place bowler team name

team_name = []   #empty list
for i in team_1:
    team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")   # other bowlers team name

for i in other_teams:
    team_name.append(i.text)
team_name = team_name[:10]
team_name

['PAK', 'SA', 'SA', 'AUS', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'ENG']

In [122]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")   # first place bowler ratings

ratings = []   #empty list
for i in rating_1:
    ratings.append(i.text)
ratings

others_ratings = soup.find_all("td",class_="table-body__cell rating")   # other bowlers ratings

for i in others_ratings:
    ratings.append(i.text)
ratings = ratings[:10]
ratings

['887', '766', '759', '747', '740', '734', '727', '719', '719', '710']

In [123]:
print(len(bowlers_name),len(team_name),len(ratings))

10 10 10

In [124]:
df=pd.DataFrame({'Bowlers_name':bowlers_name,'Team_name':team_name, 'Rating':rating})
df

            Bowlers_name Team_name Rating
0             Babar Azam       PAK    887
1  Rassie van der Dussen        SA    766
2        Quinton de Kock        SA    759
3           David Warner       AUS    747
4            Imam-ul-Haq       PAK    740
5           Shubman Gill       IND    734
6            Virat Kohli       IND    727
7            Steve Smith       AUS    719
8           Rohit Sharma       IND    719
9         Jonny Bairstow       ENG    710

In [ ]:
7) Write a python program to scrape details of all the posts from coreyms.com. 
Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [ ]:
SOLVED IN NEW NOTEBOOK

In [ ]:
#6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
    b) Top 10 women’s ODI Batting players along with the records of their team and rating.
    c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

  a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [125]:
page8 = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page8

In [126]:
# see content in page
soup = BeautifulSoup(page8.content)
soup =  BeautifulSoup(page8.text,'html.parser')

In [127]:
# Scrape team names
women_team = soup.find_all("span",class_="u-hide-phablet")

women_team_name = []
for i in women_team:
    women_team_name.append(i.text.replace('\n',''))
women_team_name = women_team_name[:10]
women_team_name

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [128]:
women_matches = [] #empty list
women_points = [] #empty list
women_ratings = [] #empty list
women_new_list = [] #empty list

In [129]:
#Scrape matches
match_1 = soup.find_all("td",class_="rankings-block__banner--matches")   # first place team number of matches

women_matches = [] #empty list
for i in match_1:
    women_matches.append(i.text)

other_matches = soup.find_all("td",class_="table-body__cell u-center-text")  # other teams matches

women_new_list = []  #empty list
for i in other_matches:
    women_new_list.append(i.text)

for i in range(0,len(women_new_list),2):
    women_matches.append(women_new_list[i])
women_matches = women_matches[:10]
women_matches

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8']

In [130]:
#Scrape women points
point_1 = soup.find_all("td",class_="rankings-block__banner--points")  # first place team points

women_points = [] #empty list
for i in point_1:
    women_points.append(i.text)

women_new_list = []  #emptty list
others_points = soup.find_all("td",class_="table-body__cell u-center-text")  # other team points

for i in others_points:
    women_new_list.append(i.text)  

for i in range(0,len(women_new_list),2):
    women_points.append(women_new_list[i+1])
women_points = women_points[:10]
women_points

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353']

In [131]:
#Scrape ratings
ratings_1 = soup.find_all("td",class_="rankings-block__banner--rating u-text-right")   #first place team ratings

women_ratings = [] #empty list
for i in ratings_1:
    women_ratings.append(i.text.replace("\n","").strip())

others_ratings = soup.find_all("td",class_="table-body__cell u-text-right rating")   #other teams ratings
    
for i in others_ratings:
    women_ratings.append(i.text)
women_ratings= women_ratings[:10]
women_ratings

['172', '119', '119', '104', '102', '94', '76', '72', '62', '44']

In [132]:
print(len(women_matches),len(women_points),len(women_ratings))

10 10 10

In [133]:
df=pd.DataFrame({'women_matches':women_matches,'women_points':women_points,'women_ratings':women_ratings})
df

  women_matches women_points women_ratings
0            21        3,603           172
1            28        3,342           119
2            26        3,098           119
3            27        2,820           104
4            25        2,553           102
5            27        2,535            94
6            13          983            76
7             8          572            72
8            27        1,678            62
9             8          353            44

In [ ]:
  b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [134]:
#send get request to the webpage server to get the source code of the page
page9 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page9

In [135]:
# see content in page
soup = BeautifulSoup(page9.content)
soup =  BeautifulSoup(page9.text,'html.parser')

In [137]:
women_players_name = [] #empty list
women_team_name = [] #empty list
women_rating = [] #empty list

In [138]:
#Scrape players
player_1 = soup.find_all("div",class_="rankings-block__banner--name-large")  #first place player name

women_players_name = [] #empty list
for i in player_1:
    women_players_name.append(i.text)

other_players = soup.find_all("td",class_="table-body__cell rankings-table__name name")  # other players

for i in other_players:
    for j in i.find_all("a"):
        women_players_name.append(j.text)
women_players_name = women_players_name[:10]
women_players_name

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite']

In [139]:
# Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")   #first place team name

women_team_name = []  #empty list
for i in team_1:
    women_team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")  # other teams name

for i in other_teams:
    women_team_name.append(i.text)
women_team_name = women_team_name[:10]
women_team_name

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'SL', 'NZ']

In [140]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")    #first place player ratings

women_rating = []  #empty list
for i in rating_1:
    women_rating.append(i.text)

others_ratings = soup.find_all("td",class_="table-body__cell rating")      #other players ratings

for i in others_ratings:
    women_rating.append(i.text)
women_rating = women_rating[:10]
women_rating

['762', '754', '732', '731', '717', '716', '714', '680', '655', '641']

In [141]:
print(len(women_players_name),len(women_team_name),len(women_rating))

10 10 10

In [142]:
df=pd.DataFrame({'women_players_name':women_players_name,'women_team_name':women_team_name,'women_rating':women_rating})
df

    women_players_name women_team_name women_rating
0         Alyssa Healy             AUS          762
1          Beth Mooney             AUS          754
2      Laura Wolvaardt              SA          732
3       Natalie Sciver             ENG          731
4          Meg Lanning             AUS          717
5     Harmanpreet Kaur             IND          716
6      Smriti Mandhana             IND          714
7       Rachael Haynes             AUS          680
8  Chamari Athapaththu              SL          655
9    Amy Satterthwaite              NZ          641

#    c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [143]:
#send get request to the webpage server to get the source code of the page
page10 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page10

In [144]:
# see content in page
soup = BeautifulSoup(page10.content)
soup =  BeautifulSoup(page10.text,'html.parser')

In [145]:
women_all_rounders = [] #empty list
women_team_name = [] #empty list  
women_rating = [] #empty list

In [146]:
#Scrape top 10 all-rounders name
all_rounder_1 = soup.find_all("div",class_="rankings-block__banner--name-large")   #first place all-rounder name

women_all_rounders = []   #empty list
for i in all_rounder_1:
    women_all_rounders.append(i.text)

other_all_rounders = soup.find_all("td",class_="table-body__cell rankings-table__name name")   #other all-rounders name

for i in other_all_rounders:
    for j in i.find_all("a"):
        women_all_rounders.append(j.text)
women_all_rounders = women_all_rounders[:10]
women_all_rounders

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami']

In [147]:
#Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")  # first place all-rounder team name

women_team_name = []   #empty list
for i in team_1:
    women_team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")   # other all-rounders team name

for i in other_teams:
    women_team_name.append(i.text)
women_team_name = women_team_name[:10]
women_team_name

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'IND']

In [148]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")   # first place bowler ratings

women_ratings = []   #empty list
for i in rating_1:
    women_ratings.append(i.text)

others_ratings = soup.find_all("td",class_="table-body__cell rating")   # other bowlers ratings

for i in others_ratings:
    women_ratings.append(i.text)
women_ratings = women_ratings[:10]
women_ratings

['373', '371', '366', '349', '336', '322', '292', '250', '232', '214']

In [149]:
print(len(women_all_rounders),len(women_team_name),len(women_ratings))

10 10 10

In [150]:
df=pd.DataFrame({'women_all_rounders':women_all_rounders,'women_team_name':women_team_name,'women_ratings':women_ratings})
df

  women_all_rounders women_team_name women_ratings
0    Hayley Matthews              WI           373
1     Natalie Sciver             ENG           371
2       Ellyse Perry             AUS           366
3     Marizanne Kapp              SA           349
4        Amelia Kerr              NZ           336
5      Deepti Sharma             IND           322
6   Ashleigh Gardner             AUS           292
7      Jess Jonassen             AUS           250
8           Nida Dar             PAK           232
9     Jhulan Goswami             IND           214

In [ ]:
8) Write a python program to scrape house details from mentioned URL.
It should include house title, location, area, EMI and price from https://www.nobroker.in/ .
    Enter three localities which are Indira Nagar,Jayanagar, Rajaji Nagar.

In [ ]:
SOLVED IN NEW NOTEBOOK

In [ ]:
 9) Write a python program to scrape mentioned details from dineout.co.in : 
i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

In [77]:
page9=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")

In [78]:
page9

In [79]:
soup=BeautifulSoup(page9.content)

In [80]:
# scraping the first name
first_title=soup.find('a', class_="restnt-name ellipsis")
first_title

<a analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-connaught-place-central-delhi-86792">Castle Barbeque</a>

In [81]:
first_title.text

'Castle Barbeque'

In [82]:
location_title=soup.find('div',class_="restnt-loc ellipsis")
location_title.text

'Connaught Place, Central Delhi'

In [83]:
# scraping first price
price_tag=soup.find('span', class_="double-line-ellipsis")
print(price_tag.text)
price_tag.text.split("|")[0] # This code is used to srap the first part of it.

₹ 2,000 for 2 (approx) | Chinese, North Indian

'₹ 2,000 for 2 (approx) '

In [84]:
title2=[]
location3=[]
price2=[]

In [85]:
#scping the multiple title
for i in soup.find_all('a', class_="restnt-name ellipsis"):
    title2.append(i.text)
title2

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [86]:
print(len(title2))

9

In [87]:
#scping the multiple location
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location3.append(i.text)
location3

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [88]:
print(len(location3))

9

In [89]:
# scaping the Multiple price
for i in soup.find_all('span', class_="double-line-ellipsis"):
    price2.append(i.text.split("|")[0] )
price2

['₹ 2,000 for 2 (approx) ',
 '₹ 1,680 for 2 (approx) ',
 '₹ 3,000 for 2 (approx) ',
 '₹ 2,000 for 2 (approx) ',
 '₹ 1,700 for 2 (approx) ',
 '₹ 2,400 for 2 (approx) ',
 '₹ 1,800 for 2 (approx) ',
 '₹ 1,900 for 2 (approx) ',
 '₹ 2,200 for 2 (approx) ']

In [90]:
print(len(price2))

9

In [91]:
# scaping the images from the page
images=[]
for i in soup.find_all('img', class_="no-img"):
    images.append(i.get('data-src'))
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [92]:
df=pd.DataFrame({'Title':title2,'Location':location3,'Price':price2, 'Image Link':images})
df

,Title,Location,Price,Image Link
0,Castle Barbeque,"Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,680 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...

In [ ]:
 10) Write a python program to scrape first 10 product details which include product name , price , Image URL 
    from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [ ]:
SOLVED IN NEW NOTEBOOK